.shippingInfoSection {
    min-height: 79vh;
    max-width: 104.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.formSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.formHeader {
    text-align: right;
    color: #222831;
    opacity: 0.8;
    font-size: 3.4rem;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.formHeader:after {
    display: block;
    content: "";
    width: 45rem;
    height: 1px;
    background-color: #ccc;
    margin-top: 2rem;
    opacity: 0.7;
    margin-bottom: 2rem;
}

.inputArea {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}



.inputField {
    width: 45rem;
    height: 3.5rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: right;
    color: #222831b7;
    
}


.label {
    color: #222831;
    opacity: 0.8;
    margin-bottom: 2px;
    font-size: 1.4rem;
}

.purchaseInfoSection {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productCard {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(204, 204, 204, 0.678);
    padding-bottom: 1.5rem;
    position: relative;
}

.productImage {
    width: 10rem;
    margin-left: 1rem;
}

.productInfoText {
    text-align: right;
    line-height: 8px;
    margin-left: 25rem;
    margin-top: 1rem;
}

.productName {
    color: #222831cb;
    font-size: 1.8rem;
    font-weight: normal;
}

.productPrice {
    font-weight: normal;
    margin-top: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    color: #39A2DB;
}

.productPrice span {
    font-size: 1.2rem;
    margin-right: 1px;
}

.quantity {
    position: absolute;
    background: #39A2DB;
    color: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    padding-top: 1.5rem;
    top: -0.6rem;
    left: 0%;
    font-weight: bold;

}

.totalPaid {
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    flex-direction: row-reverse;
}

.totalPaid span {
    display: flex;
    margin-right: 5px;
    color: #222831b9;
    margin-top: 1px;
}

.totalPaid span span {
    font-size: 1.2rem;
    margin-top: 4px;
    margin-right: 0;
}


.cta {
    background-color: #FFA62B;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    padding: 0.8rem 3.6rem 1rem 5.2rem;
    border-radius: 1.5rem;
    position: relative;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2) ;
    display: block;
    transition: filter 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    width: 18rem;
    margin-left: auto;
}

.cta:hover {
    filter: brightness(110%);
}


.ctaArrow {
    position: absolute;
    top: 1.7rem;
    left: 3.4rem;
    width: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .shippingInfoSection {
        min-height: 812px;
    }
    .shippingInfoSection {
        flex-direction: column;
        align-items: flex-end;
        padding-right: 8rem;
    }

        
    .quantity {
        padding-top: 2px;
        padding-right: 1px;
        font-weight: normal;
        left: 10%;

    }

    .purchaseInfoSection {
        margin: 0 auto;
    }

    .productImage {
        width: 70%;
        margin-left: 7rem;
    }

}